name: Upload and Download Artifact

on:
  workflow_dispatch:
  
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Create files
        run: |
          echo "Hello World!" > app.txt
          echo "Build completed" > build.txt
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
         name: my-app
         path: "*.txt"
         
  DeployToDev:
    runs-on: ubuntu-latest
    needs: Build
    environment: Dev
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-app
      
      - name: Deploy to Dev
        run: echo "Deployed to Dev"
  
  DeployToProd:
    runs-on: ubuntu-latest
    needs: DeployToDev
    environment: Production
    steps:
      - name: Deploy to Prod
        run: echo "Deployed to Production"
